.accounts-window,
.log-in-window,
.register-window {
  justify-self: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: gray;
  margin-top: 50px;
  border-radius: 20px;
}
.log-in-button,
.register-button,
.back-button,
.back-button-2,
.gender-type {
  width: 250px;
  height: 30px;
  align-self: center;
  border-radius: 20px;
  margin: 5px;
}
.log-in-username,
.log-in-password,
.register-username,
.register-password,
.register-firstname,
.register-lastname,
.gender-type,
.register-email,
.register-contactno {
  width: 250px;
  height: 30px;
  align-self: center;
  border-radius: 20px;
}
.homepage {
  background-color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  align-items: center;
}
.nav-buttons {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.nav-buttons li {
  margin-left: 5px;
  margin-right: 5px;
}
.log-out-button {
  width: 70px;
  color: black;
  border-radius: 20px;
  background-color: red;
  text-align: center;
}
.log-out-button a {
  text-decoration: none;
}
