.accounts-window,
.log-in-window,
.register-window {
  justify-self: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: gray;
  margin-top: 50px;
  border-radius: 20px;
}
.log-in-button,
.register-button,
.back-button,
.back-button-2,
.gender-type {
  width: 250px;
  height: 30px;
  align-self: center;
  border-radius: 20px;
  margin: 5px;
}
.log-in-username,
.log-in-password,
.register-username,
.register-password,
.register-firstname,
.register-lastname,
.gender-type,
.register-email,
.register-contactno {
  width: 250px;
  height: 30px;
  align-self: center;
  border-radius: 20px;
}
.homepage {
  background-color: rgb(48, 46, 46);
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(48, 46, 46);
  color: rgb(154, 153, 153);
  align-items: center;
  padding: 20px;
}
.nav-buttons {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.nav-buttons li {
  margin-left: 5px;
  margin-right: 5px;
}
.log-out-button {
  width: 70px;
  color: black;
  border-radius: 20px;
  background-color: red;
  text-align: center;
}
.log-out-button a {
  text-decoration: none;
}
.hero {
  display: flex;
}
.hero-buttons {
  display: flex;
  flex-direction: column;
}
.hero-buttons button {
  background-color: rgb(48, 46, 46);
  color: rgb(154, 153, 153);
  padding: 30px;
  border-radius: 10px;
  border-style: none;
}
.hero-buttons button:hover {
  background-color: gray;
  color: white;
  transition-duration: 0.6s;
}
.hero-dashboard,
.hero-drivers,
.hero-trucks,
.hero-deliveries {
  background-color: rgb(154, 153, 153);
  width: 1340px;
  height: 600px;
  border-radius: 10px;
}
.hero-dashboard h1,
.hero-drivers h1,
.hero-trucks h1,
.hero-deliveries h1 {
  background-color: rgb(48, 46, 46);
  color: rgb(154, 153, 153);
}
.hero-dashboard ul,
.hero-drivers ul,
.hero-trucks ul,
.hero-deliveries ul {
  margin-left: 30px;
  padding: 20px;
}
.hero-dashboard li,
.hero-drivers li,
.hero-trucks li,
.hero-deliveries li {
  text-decoration: none;
  list-style: none;
  background-color: rgb(48, 46, 46);
  color: rgb(154, 153, 153);
  font-size: 30px;
}
.dashboard-display,
.drivers-display,
.trucks-display,
.deliveries-display {
  width: 1280px;
  background-color: rgb(48, 46, 46);
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 30px;
}
.dashboard-display h1,
.drivers-display h1,
.trucks-display h1,
.deliveries-display h1 {
  border-radius: 5px;
  padding: 30px;
  margin-left: 30px;
}
.dashboard-display li,
.drivers-display li,
.trucks-display li,
.deliveries-display li {
  margin-left: 50px;
  color: rgb(154, 153, 153);
}
.dashboard-contents,
.drivers-contents,
.trucks-contents,
.deliveries-contents {
  background-color: rgb(48, 46, 46);
  color: rgb(154, 153, 153);
  border-radius: 5px;
}
.mini-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mini-nav button {
  width: 130px;
  height: 50px;
  font-size: 16px;
  margin-right: 30px;
  border-radius: 10px;
  color: white;
  background-color: rgb(154, 153, 153);
}
.mini-nav button:hover {
  background-color: white;
  color: rgb(154, 153, 153);
  transition: 0.6s;
}
